@font-face {
  font-family: "Baloo 2";
  src: url("../font/Baloo2-Medium.woff2") format("woff2"),
    url("../font/Baloo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  src: url("../font/Baloo2-SemiBold.woff2") format("woff2"),
    url("../font/Baloo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  src: url("../font/Baloo2-Regular.woff2") format("woff2"),
    url("../font/Baloo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  src: url("../font/Baloo2-Bold.woff2") format("woff2"),
    url("../font/Baloo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  src: url("../font/Baloo2-ExtraBold.woff2") format("woff2"),
    url("../font/Baloo2-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --bc: #fcffff;
  --bc-dark: rgba(8, 8, 10, 1);
  --primary: #1d5990;
  --pink: #e54fa1;
  --orange: #fc8414;
  --green: #81ae46;
  --cyan: #5acadd;
  --white: #ffffff;
  --black: #000000;
  /* Sizes */
  --heading: 3.4rem;
  --heading-large: 5.5rem;
  --heading-medium: 2rem;
  --paragraph: 1.1rem;
  /* Fonts */
  --font-main: "Wix Madefor Display";
  --font-title: "Wix Madefor Display";
}
* {
  user-select: none;
  box-sizing: border-box;
  cursor: none;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  color: var(--black);
  background-color: var(--bc-dark);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
main {
  height: 100vh;
}
h1 {
  margin: 0;
  font-size: var(--heading);
}
button {
  cursor: none !important;
}

/* Classes */
/* Global classes */
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.flexbox-left-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexbox-right-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.flexbox-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexbox-col-left-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.preload-none {
  opacity: 0;
}

/* Preloader */
#preloader {
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: all 0.5s;
}
.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@-webkit-keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}

/* Navbar */
#navbar {
  top: 2em;
  width: 100%;
  height: 5em;
  position: absolute;
  z-index: 80;
}
.navbar-inner {
  width: calc(75% - 5em);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.navbar-left {
  height: 100%;
  position: relative;
}
.navbar-right p {
  font-weight: 200;
  color: var(--white);
}
/* Nav Button */
#nav-button {
  margin: 0;
  width: 2em;
  height: 1.5em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  -moz-transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  -o-transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  z-index: 110;
}
#nav-button span {
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  background: var(--white);
  border-radius: 19px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  -moz-transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  -o-transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
  transition: 0.35s cubic-bezier(0.175, 0.685, 0.32, 1.175);
}
#nav-button span:nth-child(1) {
  top: 0;
  width: 100%;
}
#nav-button span:nth-child(2),
#nav-button span:nth-child(3) {
  top: 0.75em;
  width: 35%;
}
#nav-button span:nth-child(4) {
  top: 1.5em;
  width: 65%;
}
#nav-button.open span:nth-child(1) {
  top: 2em;
  width: 0;
}
#nav-button.open span:nth-child(2) {
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-button.open span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-button.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
/* Menu */
.menu-wrapper {
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 50;
}
.menu {
  top: calc(5em);
  width: calc(75% - 5em);
  height: calc(100vh - 5em);
  padding: 0;
  position: relative;
  list-style-type: none;
  overflow: scroll;
}
.menu-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bc-dark);
  opacity: 1;
  z-index: 50;
}
.menu-item {
  margin: 2em 0;
  padding: 0;
  position: relative;
  z-index: 55;
}
.menu-item-inner {
  position: relative;
  display: inline-block;
  color: transparent;
  font-weight: 900;
  font-size: calc(var(--heading-large) - 0.75rem);
  letter-spacing: 0;
  line-height: 1em;
  -webkit-text-stroke: 0.1rem var(--white);
  transform: skew(0);
  transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    letter-spacing 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease-in-out;
  z-index: 55;
}
.menu-item-inner:hover {
  color: var(--white);
  letter-spacing: 0.05em;
  transform: skew(-15deg);
  -webkit-text-stroke: 0.1rem transparent;
}
#m-item-1 {
  opacity: 1;
}
#m-item-2 {
  opacity: 1;
}
#m-item-3 {
  opacity: 1;
}
#m-item-4 {
  opacity: 1;
}

/* Selection */
::selection {
  color: var(--white);
  background: var(--primary);
}
/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--bc-dark);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bc-dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* Cursor */
#cursor {
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  will-change: transform;
  /* mix-blend-mode: difference; */
  transition: transform 0.05s linear;
  z-index: 99;
}
.cursor {
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  position: fixed;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: opacity 0.15s ease-in-out;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  z-index: 99;
}

/* Header */
#header {
  height: 110vh;
  width: auto;
  background-image: url(../img/hero-background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  width: 80%;
  height: auto;
}

/* About */
#about {
  height: auto;
  width: auto;
  background-image: url(../img/about-background.png);
  background-size: cover;
}
#about .row {
  height: 100vh;
  width: auto;
}
.about-art__tree {
  width: 70%;
  height: auto;
  z-index: 1;
  position: absolute;
}
.about-art__pool {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
.about-border {
  margin: 5rem;
  background-color: var(--white);
  border: 7px solid #dedede;
  z-index: 2;
  position: relative;
}
.about-text {
  color: var(--black);
  font-family: "Baloo 2";
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 3rem;
}

/* Artstation */
#artstation {
  min-height: 100vh;
  width: 100%;
  background-color: #eb811e;
  background-image: url(../img/artstation-background.png);
  background-size: cover;
}
.artstation-title {
  width: 24%;
  height: auto;
  z-index: 3;
  padding-top: 10rem;
  position: relative;
}
.art::before {
  content: "";
  text-align: center;
  font-size: var(--heading-medium);
  font-weight: 600;
  padding: 0.5rem 0;
  transform: translateY(-50%) translateX(-20%);
  height: auto;
  width: 100%;
  background-color: var(--white);
  border: 4px solid black;
  border-radius: 15px;
}
.art {
  height: 35rem;
  width: 100%;
  background-color: var(--pink);
  border: 5px solid white;
  border-radius: 30px;
  display: flex;
  align-items: start;
  background-image: url(https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80);
  background-blend-mode: luminosity;
}
.art.odd {
  align-items: end;
}
.artborder-1 .art::before {
  content: "2D ART";
}
.artborder-2 .art::before {
  content: "3D ART";
}
.artborder-3 .art::before {
  content: "2D ART";
}
.artborder-4 .art::before {
  content: "3D ART";
}

/* Partner */
#partner {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/partner-background.png);
  background-size: cover;
}
#partner .container {
  height: 100%;
  width: 100%;
  padding: 7rem 0;
}
.partner-title__border {
  width: 19rem;
  height: 6rem;
  border-radius: 80px;
  background-color: #fff;
  position: relative;
}
.partner-title__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  position: relative;
}
.partner-title__content img {
  width: 6rem;
  height: auto;
  position: relative;
}
.partner-title__content h1 {
  font-size: 3rem;
  font-weight: 800;
  position: relative;
}
.partner-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 8rem;
  border-radius: 100px;
  background-color: var(--white);
  -webkit-box-shadow: inset 10px 10px 5px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 10px 10px 5px -1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 10px 10px 5px -1px rgba(0, 0, 0, 0.25);
}
.partner-border img {
  width: 6rem;
  height: auto;
}
.partner-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border: 5px solid #000;
  border-radius: 30px;
  background-color: #fff;
}
.partner-name h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

/* Projects */
#project {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/project-background.png);
  background-color: var(--primary);
  background-size: cover;
}
.project-title {
  font-size: var(--heading-large);
  font-weight: 800;
  text-align: center;
  color: var(--white);
  -webkit-text-stroke: 2px var(--pink);
}
.project-border {
  display: block;
  margin: 3rem auto;
  width: 80%;
  height: 70%;
  background-color: #ffffffa1;
  border: 5px solid #000;
  padding: 0 1rem;
}
.cards {
  display: block;
  width: 100%;
  height: 320px;
  background-color: var(--green);
}
.square {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  background-color: transparent;
  background-image: radial-gradient(
      circle at center center,
      rgb(39, 125, 161),
      rgb(249, 132, 74)
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(39, 125, 161),
      rgb(39, 125, 161),
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
  z-index: 1;
  position: relative;
}
.cards .content-wrapper {
  z-index: 2;
  position: absolute;
}
.cards .title {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  position: relative;
}
.cards .subtitle {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
.cards span {
  font-size: 6rem;
  z-index: 2;
  position: absolute;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: var(--black);
}
.footer-wrapper {
  width: 100%;
  margin: 5rem 0;
}
.social-media a {
  color: var(--orange);
  font-size: 2rem;
}
.copyright span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--orange);
}

@media (hover: hover) and (pointer: fine) {
  .cursor-circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    mix-blend-mode: difference;
    border: solid 1px rgba(255, 255, 255, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursor.arrow .cursor-circle {
    width: 128px;
    height: 128px;
    background-color: var(--primary);
    border-color: var(--primary);
  }
  #cursor.arrow::after {
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-image: url("https://alien.haldenvgs.net/images/cursor.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  #cursor.subtle .cursor-circle {
    opacity: 0.16;
  }
  #cursor.overlay .cursor-circle {
    width: 48px;
    height: 48px;
    background-color: rgba(227, 222, 193, 0.08);
    border-color: transparent;
  }
}

@media only screen and (max-width: 1660px) {
  :root {
    /* Sizes */
    --heading: 3rem;
  }
}
@media only screen and (max-width: 1456px) {
  :root {
    /* Sizes */
    --heading: 2.8rem;
  }
  /* Menu */
  .menu-item {
    margin: 1.5em 0;
  }
  .menu-item-inner {
    font-size: calc(var(--heading-large) - 1.5rem);
    line-height: 1em;
  }
  /* About */
  .about-border {
    margin: 0rem 1rem 1rem 1rem;
  }
  .about-text {
    font-size: 1.5rem;
    padding: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 1220px) {
}
@media only screen and (max-width: 1024px) {
  :root {
    /* Sizes */
    --heading: 2.4rem;
  }
  /* Navbar */
  .navbar-inner {
    width: calc(85% - 5em);
  }
  /* Menu */
  .menu {
    width: calc(85% - 5em);
  }
  .menu-item {
    margin: 1em 0;
  }
  .menu-item-inner {
    font-size: calc(var(--heading-large) - 3rem);
    line-height: 1em;
  }
  /* Menu Image */
  .menu-image-wrapper {
    top: -10em;
    left: -15em;
    width: 30em;
    position: fixed;
    will-change: transform;
    pointer-events: none;
    z-index: 54;
  }
}
@media only screen and (min-width: 1024px) {
  /* About */
  .about-border::before {
    content: "About Animation Factory";
    font-family: "Baloo 2";
    font-size: var(--heading-medium);
    font-weight: 600;
    color: var(--cyan);
    text-align: center;
    background-color: var(--primary);
    width: 70%;
    border: 1px solid var(--black);
    border-radius: 10px;
    height: 3rem;
    top: -10%;
    left: 15%;
    position: absolute;
    -webkit-box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 0.2);
  }
  /* Artstation */
  #artstation .container-lg {
    width: 100%;
    height: 100%;
  }
  #artstation .container-lg .row {
    width: 100%;
    height: 100%;
  }
  .artborder-1 .art::after {
    background-image: url(../img/svg/doodle-green.svg);
  }
  .artborder-2 .art::after {
    background-image: url(../img/svg/doodle-blue.svg);
  }
  .artborder-3 .art::after {
    background-image: url(../img/svg/doodle-orange.svg);
  }
  .artborder-4 .art::after {
    background-image: url(../img/svg/doodle-pink.svg);
  }
  .art::after {
    background-size: 7rem 14rem;
    display: flex;
    width: 7rem;
    height: 14rem;
    content: "";
    transform: translateX(13rem) translateY(-10rem);
    position: absolute;
  }
  .art.odd::before {
    transform: translateY(50%) translateX(-20%);
  }
  .art.odd::after {
    transform: translateX(13rem) translateY(4rem);
  }
  /* partner */
  #partner::before {
    content: "";
    background-image: url(../img/partner-header.webp);
    background-size: cover;
    width: 24rem;
    height: 9.5rem;
    margin: 3rem 5rem;
    position: absolute;
  }
}
@media only screen and (max-width: 834px) {
  /* About */
  #about .row {
    height: auto;
  }
  .about-art__tree {
    width: 100%;
    position: absolute;
  }
  .about-border::before {
    font-size: var(--paragraph);
  }
  .about-border {
    margin: 0rem 1rem 1rem 1rem;
  }
  .about-text {
    padding: 1.5rem;
    font-size: var(--paragraph);
    line-height: 1.5rem;
  }
  /* Artstation */
  .artstation-title {
    width: 70%;
    height: auto;
    padding-top: 3rem;
    position: relative;
  }
  .artborder {
    margin: 2rem 0;
  }
  .art::before {
    transform: translateY(70%) translateX(0);
  }
  .art {
    height: 35rem;
    width: 100%;
    background-color: var(--pink);
    border: 5px solid white;
    border-radius: 30px;
    display: flex;
    align-items: start;
    background-image: url(https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80);
    background-blend-mode: luminosity;
  }
  .art.even {
    align-items: end;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    /* Sizes */
    --heading: 2.2rem;
    --heading-medium: 1.1rem;
  }
  /* Navbar */
  .navbar-inner {
    width: calc(100% - 5em);
  }
  /* Menu */
  .menu {
    width: calc(100% - 5em);
  }
  .menu-item-inner {
    font-size: calc(var(--heading-large) - 3.5rem);
  }
  /* Menu Image */
  .menu-image-wrapper {
    top: -8.5em;
    left: -12.5em;
    width: 25em;
    position: fixed;
    will-change: transform;
    pointer-events: none;
    z-index: 54;
  }
}
@media only screen and (max-width: 576px) {
  /* Menu */
  .menu-item-inner {
    font-size: calc(var(--heading-large) - 5rem);
  }
  /* Menu Image */
  .menu-image-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 496px) {
  :root {
    /* Sizes */
    --heading: 1.75rem;
  }
}
@media only screen and (max-width: 480px) {
  #about .row {
    margin-top: 3rem;
  }
  .about-art__tree {
    width: 100%;
    position: relative;
  }
  .about-art__pool {
    margin-top: 2rem;
  }
  .about-border::before {
    font-size: var(--paragraph);
  }
  .about-border {
    margin: 0 1rem;
  }
  .about-text {
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem;
  }
  /* Artstation */
  .art {
    height: 15rem;
  }
  /* Partner */
  #partner .container {
    padding: 3rem 0;
  }
  .partner-title__border {
    width: 13rem;
    height: 4rem;
  }
  .partner-title__content img {
    width: 4rem;
  }
  .partner-title__content h1 {
    font-size: 2rem;
  }
  .partner-border {
    width: 9rem;
    height: 6rem;
  }
  .partner-border img {
    width: 4rem;
  }
  .partner-name {
    width: 8rem;
    height: 3rem;
    border: 3px solid #000;
  }
  .partner-name h1 {
    font-size: 1rem;
    font-weight: 600;
  }
}
